extends ../layout

block content
  h2= title
  each event in events
    .session
      h2= h.moment(event.date).format('MMMM Do YYYY')
      ul.players
      
      if event.players
        each player in event.players
          li.player= player
        
