:root {
  --round-corners: 4px;
  --color-primary: #FF5722;
  --color-light: #FFCCBC;
  --color-dark: #E64A19;
  --color-accent: #607D8B;
  --color-icons: #FFFFFF;
  --color-divider: #BDBDBD;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
}

body {
  color: var(--color-primary-text);
}

.nav-icon {
  font-size: 40px;
  transition: all 0.25s ease;
}

.nav-icon:hover {
  transform: scale(1.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button {
  background-color: var(--color-accent);
  border-radius: var(--round-corners);
  font-weight: 500;
}

.mt {
  margin-top: 1.4rem;
}

.mb {
  margin-bottom: 1.6rem;
}

h1, h2, h3, a {
  font-weight: 500;
  color: var(--color-dark);
}

h4, h5 {
  font-weight: 500;
}

.light-text {
  font-weight: 400;
  color: var(--color-primary-text);
}

.top-bar {
  background-color: var(--color-primary);
  padding: 14px;
  margin-bottom: 12px;
}

.top-bar-left * {
  color: var(--color-icons);
}

.callout, .card {
  border-radius: var(--round-corners);
}