mixin eventForm(event = {})
  form(action="/events/add" method="POST" class="form")
    .form-row
      label(for="date") Session date
      input(type="date" id="date" name="date" value=(event.date || currentDate))
    .form-row
      label(for="start_time") Start time
      input(type="time" id="start_time" name="start_time" value=(event.start_time || "19:40"))
      label(for="end_time") End time
      input(type="time" id="end_time" name="end_time" value=(event.end_time || "21:15"))

    input(type="submit" value="Save" class="button") 