doctype html
html
  head
    title= title || 'Twilio SQL'
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav
          .nav
            li
              a(href="/") Home
            li
              a(href="/messages") Messages
            li
              a(href="/players") Players
            li
              a(href="/events") Manage Sessions
    .content
      block content
