:root {
  --round-corners: 4px;
  --color-primary: #FF5722;
  --color-light: #FFCCBC;
  --color-danger: hsl(348, 100%, 61%);
  --color-accent: #607D8B;
  --color-icons: #FFFFFF;
  --color-divider: #BDBDBD;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
}

body {
  color: var(--color-primary-text);
}

.mt {
  margin-top: 1.4rem;
}

.mb {
  margin-bottom: 1.6rem;
}

.light-text {
  font-weight: 400;
  color: var(--color-primary-text);
}

.navbar-item {
  padding: 0 3rem;
  transition: all 0.15s ease;
}

.navbar-item:hover {
  border-bottom: 3px solid white;
}

button,.button {
  height: 2.75em;
}

.button {
  margin: 1rem 0.5rem;
  transition: all 0.15s ease;
}

.button:hover {
  color: white;
  border: none;
  background-color: var(--color-danger);
}

.top-padding {
  padding-top: 2rem;
}