:root {
  --round-corners: 4px;
  --color-primary: #FF5722;
  --color-light: #FFCCBC;
  --color-danger: hsl(348, 100%, 61%);
  --color-accent: #607D8B;
  --color-icons: #FFFFFF;
  --color-divider: #BDBDBD;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
}

body {
  color: var(--color-primary-text);
}

.mt {
  margin-top: 1.4rem;
}

.mb {
  margin-bottom: 1.6rem;
}

.light-text {
  font-weight: 400;
  color: var(--color-primary-text);
}

.navbar-item {
  padding: 0 3rem;
  transition: all 0.15s ease;
}

.navbar-item:hover {
  border-bottom: 3px solid white;
}

.navbar-burger>span {
  height: 2px;
}

#logo {
  padding: 0em 1.55em;
}

button,.button {
  height: 2.75em;
  margin: 0.8rem 0.1rem;
  transition: all 0.15s ease;
}

button,.button:hover {
  color: white;
  border: 1px solid white;
  background-color: var(--color-danger);
}

.top-padding {
  padding-top: 2rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.3em;
}

.title {
  margin-bottom: 0.2em;
}

.progress {
  margin: 1.5rem 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

.small {
  font-size: 1rem;
}