doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      .nav__item
        a(href="/") Home
      .nav__item
        a(href="/messages") Messages
      .nav__item
        a(href="/players") Players
      .nav__item
        a(href="/events") Events

    block content
