body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table {
  padding: 10px;
}

.player__row {
  padding: 20px;
}

td {
  padding: 10px 6px;
}

.form-row {
  margin: 10px 0;
}

form label {
  padding-right: 10px;
}
